{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <div class="card-wrapper">
      <div class="vanmo" style="text-align:center">
        
        <h2>Welcome <strong>{{user}}</strong></h2>
         <h1>WELCOME NEIGHBOURHOOD MORINGA</h1> 
         
        <div class="row">
            {% for post in posts %} 
          <div class="col-md-4" style="margin-top: 150px;">
  <!-- Card Regular -->
  <div class="card card-cascade">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://cdn-az.allevents.in/banners/78ef1820-39e5-11e9-b767-2df61157fdcb-rimg-w526-h274-gmir.jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
      
          <!-- Title -->
          <h4 class="card-title"><strong>{{ post.title }}</strong></h4>
          <!-- Subtitle -->
          <h6 class="font-weight-bold indigo-text py-2">{{ post.author }}</h6>
          <!-- Text -->
          <p class="card-text">{{ post.content }}
          </p>
      
          <!-- Linkedin -->
          <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
          <!-- Twitter -->
          <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
          <!-- Dribbble -->
          <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

      
        </div>
      
        <!-- Card footer -->
        <div class="card-footer text-muted text-center">
                {{ post.date_posted|date:"F d, Y" }}
        </div>
      
      </div>
      <!-- Card Regular -->
          </div>
          
          {%endfor%}
          
          
      </div>
      <div class="row">
          <div class="col-md-4" >

          </div>

      </div>
      </div>
    </div>
    </div>
    </div>
    {% endblock content %} 

