{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{{ block.super }}

<!-- Posting Form -->
<div style="margin: 30%; margin-top: 2%; border-color: black; "  class="card-body">
    <form method="POST" enctype="multipart/form-data" action="{% url 'post'%}">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><strong>Share Post</strong> </legend>
            {{form|crispy}}            
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
</div>
  <!-- Posting Form End -->
{% endblock %}